<!DOCTYPE html>
<html class="bg-gray-900 text-white font-sans">
<head>
    <meta charset="UTF-8">
    <title>Collection</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <%- include('partials/navbar', {page: '/lego/sets'}) %>

    <div class="container mx-auto">
        <div class="hero bg-gray-800 bg-opacity-75 text-white text-center mt-8 mb-8 p-12 rounded-lg">
            <div class="mx-auto">
                <h2 class="text-4xl mb-3">Collection</h2>
                <p class="text-2xl mb-2">Take a look at the LEGO collection. Click the theme</p>
                <div class="flex justify-center items-center">
                    <p class="text-2xl mr-2">to filter by themes:</p>
                    <a href="/lego/sets?theme=Basic" class="btn btn-sm  bg-red-600 text-white border-none text-base rounded-md hover:bg-red-700">Basic</a>
                    <a href="/lego/sets?theme=Technic" class="btn btn-sm mx-1  bg-red-600 text-white border-none text-base rounded-md hover:bg-red-700">Technic</a>
                </div>
            </div>        
        </div>

       <table class="table-auto w-full text-lg">
        <tbody>
            <% sets.forEach((set) => { %>
                <tr>
                    <td class="avatar w-40 h-40 shadow-md">
                        <img src="<%= set.img_url %>" alt="<%= set.name %>" class="rounded-md">
                    </td>
                    <td class="align-middle text-gray-300">
                        <span class="font-bold"><%= set.name %></span> | <a href="/lego/sets?theme=<%= set.theme %>" class="btn btn-sm bg-gray-900 text-white bg-opacity-20 border-none text-base rounded-md hover:bg-gray-900 hover:bg-opacity-30"> <%= set.theme %></a>
                    </td>
                    <td class="align-middle text-gray-300">
                        <span class="font-bold">Year: </span> <%= set.year %>  
                    </td>
                    <td class="align-middle text-gray-300">
                        <span class="font-bold">Parts: </span> <%= set.num_parts %>  
                    </td>
                    <td class="align-middle">
                        <a href="/lego/sets/<%= set.set_num %>" class="btn btn-lg bg-red-600 border-none text-base text-white rounded-md hover:bg-red-700">Details</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
       </table>
    </div>
</body>
</html>
